@model CRMPROJEDB.Models.Tbl_SatisUrunDetay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_SatisUrunDetay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kdv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kdv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KdvsizFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KdvsizFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KdvDahilFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KdvDahilFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirimFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirimFiyati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Satis.SatisID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Satis.SatisID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Urun.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Urun.Adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SatisUrunDetayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
